<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					Rainforest
<!-- 					<img id="logo" src="http://static.squarespace.com/static/51782a3be4b0be6d32e91928/t/5179773be4b0f0be01bf5952/1366914876747/Plants-Trees-Leaf-icon.png" /> -->
				</a>
			</div>
		</div>
	</nav>