h2 {
	text-align: center;
	clear: both;
}

.userinfo {
	float: right;
	display: inline-block;
	padding-top: 15px;
}

.form-horizontal {
	text-align: center;
}

.search {
	display: inline-block;
	clear: both;
}

.add {
	display: inline-block;
	float: right;
}

.navbar-brand {
	clear: both;
	display: inline-block;
}

#logo {
	height: 20px;
	display: inline-block;
}