h2 {
	text-align: center;
	clear: both;
}

.userinfo {
	float: right;
	display: inline-block;
	padding-top: 15px;
}

.form-horizontal {
	text-align: center;
}

.search {
	display: inline-block;
	clear: both;
}

.add {
	display: inline-block;
	float: right;
}

#logo {
	height: 20px;
	display: inline-block;
}

#title {
	font-family: Pacifico;
	clear: both;
	display: inline-block;
	font-size: 30px;
	color: black;
}